<style>
    .in{
	
			margin-left: 0%;
			padding:0px;
			width:100%;
			height:700px;
            background:#ffe6ff
            
		}
        .body{
            background-color:black;
        }

        .ab{
            color:#4d004d;
        }
</style>

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"><html><head><META http-equiv="Content-Type" content="text/html; charset=utf-8"></head>
     <body  bgcolor="ffe6ff">


	<h1 style="text-align:center ; margin-top:3% ; font-size:50px;color: #4d004d; font-weight: bolder;"> ALGORITHMS </h1>
   
  
	


<div>

<table class = "ab" cellspacing=20px class="in" border='0epm'>
<tr>
	<td width="50%" height="50%">
		
			
                <center>
				<p>
                   <a onclick="window.location.href='/algo1/place1/{{userid}}'">
    			   <img src="{{ url_for('static', filename= 'alg2.jpeg') }}" alt="" height="350px" width="500px">
    			   </a>
                   <h1> User-User Collaborative Filtering </h1>
                </p>
                </center>
				
			
		
	</td>

    <td width="50%" height="50%">
    	
        <center>
    		    <p>
                   <a onclick="window.location.href='/item_reco'">
    			   <img src="{{ url_for('static', filename= 'alg3.jpeg') }}" alt=""  height="350px" width="500px"><center>
    			   </a>
                   <h1> Item-Item Collaborative Filtering </h1>
                </p>
                <center>	

        
    </td>

</tr>
<br><br>
<tr style="margin-top:30px">
	<td width="50%" height="50%">
		
			
                <center>
				<p>
                   <a onclick="window.location.href='/admin/places/{{userid}}'">
    			   <img src="{{ url_for('static', filename= 'download.png') }}" alt=""  height="350px" width="500px">
    			   </a>
                   <h1> Matrix Factorization using Keras </h1>
                   
                </p>
                </center>
				
			
		
	</td>

	<td width="50%" height="50%">
		
			     <br>
                <center>
				<p>
                   <a onclick="window.location.href='/algo/plce/{{userid}}'">
    			   <img src="{{ url_for('static', filename= 'alg4.jpg') }}" alt=""  height="350px" width="500px">
    			   </a>
                   <h1> Matrix Factorization using Alternating Least Squares Algorithm </h1>
                   
                </p>
                </center>
				
			
		
	</td>
</tr>












</table>
</div>
</body></html>