

<html>
	<head>
		<title>Trasparant log in page</title>
		<link rel="stylesheet" type="text/css" href="static/front_style1.css">	
	</head>
	<body>
               
		<div class="login-box">
		<img src="static/images/userlogo.png" class="avatar">
		<h1>Login Here</h1>
		<form action = "/login" method="POST">
			<p>Email</p>
			<input type="text" name="email" placeholder="Enter Email">
			<p>Password</p>
			<input type="password" name="password" placeholder="Enter Password"><br>
			<input type="submit" name="submit" value="login"><br><br>
			<b><a href="signup">Sign up</a></b>
			<br>
			
			
		</form>
		</div> 
		
	</body>
</html>


